.Dropzone {
    height: 300px;
    width: 300px;
    background-color: #fff;
    border: 5px dashed rgb(187, 186, 186);
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-self: center;
    text-align: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
  }
  
  .Highlight {
    background-color: rgb(226, 38, 38);
  }
  
  .FileInput {
    display: none;
  }